@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  @apply bg-[#121212] hover:bg-opacity-[.8] rounded-full;
}

body {
  @apply bg-background text-white;
  font-family: "Roboto", sans-serif;
}

.nav__links {
  @apply relative text-3xl p-3 rounded-xl inline-block hover:bg-[#121212] hover:text-secondary duration-200 active:scale-90;
}
@media (min-width: 992px) {
  .nav__links::after {
    @apply bg-background_2;
    content: attr(data-links);
    position: absolute;
    top: 50%;
    left: 100px;
    color: white;
    white-space: nowrap;
    font-size: 18px;
    padding: 0.4em 1em;
    border-radius: 0.4em;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-50px);
    transition: 0.2s;
  }
  .nav__links:hover::after {
    opacity: 1;
    transform: translateY(-50%);
  }
}

.display {
  width: calc(100% - 80px);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: 0.2s;
}
@media (max-width: 768px) {
  .display {
    width: 100%;
  }
}

#movie:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.396);
}

/* #movie:hover > div:first-child {
  transform: scale(0.95);
} */

.input {
  @apply text-white bg-background border-2 border-transparent px-4 py-2 rounded-md outline-none focus:border-secondary duration-100;
}
